* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO DO VÍDEO */
.video-bg {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    pointer-events: none;
}


.esquerda {
    left: 20px;
}

.direita {
    right: 20px;
}

button:hover {
    background-color: gray;
}