/* MENU BTN */

.menu-btn {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.menu-btn:active {
    transform: scale(0.9);
}

/* LOGO CENTRAL */

.logo-centro {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.logo-centro a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
}

.logo-centro a:hover {
    color: #ff260065;
}

/* MENU LATERAL */

.menu-lateral {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 80px 30px;
    transition: 0.4s;
    z-index: 1000;
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral li {
    margin-bottom: 30px;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-lateral a:hover {
    color: #ff2800;
}

/* SETAS LATERAIS */

button.esquerda, button.direita {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    cursor: pointer;
    z-index: 4;
}

.esquerda { left: 20px; }
.direita { right: 20px; }

button:hover {
    background-color: gray;
}