<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Races.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <head>
        <title>Races</title>
    </head>
    <body>

        {% include 'navbar.html' %}
        
        <!--Informações de carros-->
        
        <div class="container-corvette">

        <div class="coluna-corvette">
            <div class="card-corvette">
                <img src="{{ url_for('static', filename='img/corvettedriver.png') }}" alt="num1" class="textdrive">
                <div class="card-title">Performance com Propósito</div>
                <div class="card-subtext">Motor V8 de alta tecnologia para aceleração precisa.</div>
                <div class="card-subtext">Engenharia de ponta para manuseio inigualável.</div>
            </div>
            <a href="#" class="btn btn-vermelho">Agende um Test Drive</a>
        </div>

        <div class="coluna-corvette">
            <div class="card-corvette">
                <img src="{{ url_for('static',filename='img/corvette26.png')}}" alt="" class="corvette26">
                <div class="card-title">Tecnologia & Conforto</div>
                <div class="card-subtext">Interior luxuoso aliado a sistemas inteligentes.</div>
                <div class="card-subtext">Experiência de condução única e personalizada.</div>
            </div>
            <a href="#" class="btn btn-cinza">Explore a Ficha Técnica</a>
        </div>

    </div>

    <div class="redes_sociais">
        <ul>
            <li><a href="https://www.facebook.com/Corvette" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/corvette/" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com/corvette" target="_blank">Twitter</a></li>
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}" ></script>

    </body>
</html>